<PresetAccount>
	<data>
		<serverType></serverType>   <!-- 配置要求：必须配置。 配置描述：配置添加账号的协议类型。 值类型：阿拉伯数字。 配置对照表 【 INFORMIR_STALKER = 0; XSTREAM_CODE_STALKER = 1; XSTREAM_CODE_PANEL = 3; TVCLUB = 4; LOAD_USB_M3U = 5;  YAKA(NeStalker) = 6; LOAD_WEB_M3U = 7;  VISION = 8; 】-->
		<serverNum></serverNum>    <!-- 配置要求：非必须配置。 配置描述：配置该预置账号显示的位置。  值类型：阿拉伯数字。-->
		<name>MegaPlay</name>   <!-- 配置要求：非必须配置。 配置描述：预置信息的显示的名称。  值类型：字符类型-->
		<url></url>   <!-- 配置要求：非必须配置。 配置描述：预置的url。 值类型：无限制-->
		<port></port>   <!-- 配置要求：非必须配置。 配置描述：预置的port信息。  值类型：无限制-->
		<account></account>   <!-- 配置要求：非必须配置。 配置描述：预置的账号信息。  值类型：无限制-->
		<password></password>   <!-- 配置要求：非必须配置。 配置描述：预置的密码。  值类型：无限制-->
		<autologin></autologin>   <!-- 配置要求：非必须配置，配置多个预制账号时，只能有一个为true值。 配置描述：配置是否自动登录，未配置则默认为false  值类型：true 或者 false。 true：表示自动登录， false表示不自动登录-->
		<mac></mac>   <!-- 配置要求：非必须配置。 配置描述：用于网络请求的mac地址，未配置则默认为本机mac地址  值类型：正确的mac地址类型（xx:xx:xx:xx:xx:xx）-->
		<groupNum></groupNum>   <!-- 配置要求：非必须配置。 配置描述：配置节目号的显示模式，未配置则默认0。  值类型：0 或者 1。 0：表示使用本地节目号显示，1：表示使用服务器节目号显示-->
	</data>
	<data>
    		<serverType></serverType>   <!-- 配置要求：必须配置。 配置描述：配置添加账号的协议类型。 值类型：阿拉伯数字。 配置对照表 【 INFORMIR_STALKER = 0; XSTREAM_CODE_STALKER = 1; XSTREAM_CODE_PANEL = 3; TVCLUB = 4; LOAD_USB_M3U = 5;  YAKA(NeStalker) = 6; LOAD_WEB_M3U = 7;  VISION = 8; 】-->
    		<serverNum></serverNum>    <!-- 配置要求：非必须配置。 配置描述：配置该预置账号显示的位置。  值类型：阿拉伯数字。-->
    		<name>MegaPlay</name>   <!-- 配置要求：非必须配置。 配置描述：预置信息的显示的名称。  值类型：字符类型-->
    		<url></url>   <!-- 配置要求：非必须配置。 配置描述：预置的url。 值类型：无限制-->
    		<port></port>   <!-- 配置要求：非必须配置。 配置描述：预置的port信息。  值类型：无限制-->
    		<account></account>   <!-- 配置要求：非必须配置。 配置描述：预置的账号信息。  值类型：无限制-->
    		<password></password>   <!-- 配置要求：非必须配置。 配置描述：预置的密码。  值类型：无限制-->
    		<autologin></autologin>   <!-- 配置要求：非必须配置，配置多个预制账号时，只能有一个为true值。 配置描述：配置是否自动登录，未配置则默认为false  值类型：true 或者 false。 true：表示自动登录， false表示不自动登录-->
    		<mac></mac>   <!-- 配置要求：非必须配置。 配置描述：用于网络请求的mac地址，未配置则默认为本机mac地址  值类型：正确的mac地址类型（xx:xx:xx:xx:xx:xx）-->
    		<groupNum></groupNum>   <!-- 配置要求：非必须配置。 配置描述：配置节目号的显示模式，未配置则默认0。  值类型：0 或者 1。 0：表示使用本地节目号显示，1：表示使用服务器节目号显示-->
    	</data>
    	<data>
        		<serverType></serverType>   <!-- 配置要求：必须配置。 配置描述：配置添加账号的协议类型。 值类型：阿拉伯数字。 配置对照表 【 INFORMIR_STALKER = 0; XSTREAM_CODE_STALKER = 1; XSTREAM_CODE_PANEL = 3; TVCLUB = 4; LOAD_USB_M3U = 5;  YAKA(NeStalker) = 6; LOAD_WEB_M3U = 7;  VISION = 8; 】-->
        		<serverNum></serverNum>    <!-- 配置要求：非必须配置。 配置描述：配置该预置账号显示的位置。  值类型：阿拉伯数字。-->
        		<name>MegaPlay</name>   <!-- 配置要求：非必须配置。 配置描述：预置信息的显示的名称。  值类型：字符类型-->
        		<url></url>   <!-- 配置要求：非必须配置。 配置描述：预置的url。 值类型：无限制-->
        		<port></port>   <!-- 配置要求：非必须配置。 配置描述：预置的port信息。  值类型：无限制-->
        		<account></account>   <!-- 配置要求：非必须配置。 配置描述：预置的账号信息。  值类型：无限制-->
        		<password></password>   <!-- 配置要求：非必须配置。 配置描述：预置的密码。  值类型：无限制-->
        		<autologin></autologin>   <!-- 配置要求：非必须配置，配置多个预制账号时，只能有一个为true值。 配置描述：配置是否自动登录，未配置则默认为false  值类型：true 或者 false。 true：表示自动登录， false表示不自动登录-->
        		<mac></mac>   <!-- 配置要求：非必须配置。 配置描述：用于网络请求的mac地址，未配置则默认为本机mac地址  值类型：正确的mac地址类型（xx:xx:xx:xx:xx:xx）-->
        		<groupNum></groupNum>   <!-- 配置要求：非必须配置。 配置描述：配置节目号的显示模式，未配置则默认0。  值类型：0 或者 1。 0：表示使用本地节目号显示，1：表示使用服务器节目号显示-->
        	</data>
        	<data>
            		<serverType></serverType>   <!-- 配置要求：必须配置。 配置描述：配置添加账号的协议类型。 值类型：阿拉伯数字。 配置对照表 【 INFORMIR_STALKER = 0; XSTREAM_CODE_STALKER = 1; XSTREAM_CODE_PANEL = 3; TVCLUB = 4; LOAD_USB_M3U = 5;  YAKA(NeStalker) = 6; LOAD_WEB_M3U = 7;  VISION = 8; 】-->
            		<serverNum></serverNum>    <!-- 配置要求：非必须配置。 配置描述：配置该预置账号显示的位置。  值类型：阿拉伯数字。-->
            		<name>MegaPlay</name>   <!-- 配置要求：非必须配置。 配置描述：预置信息的显示的名称。  值类型：字符类型-->
            		<url></url>   <!-- 配置要求：非必须配置。 配置描述：预置的url。 值类型：无限制-->
            		<port></port>   <!-- 配置要求：非必须配置。 配置描述：预置的port信息。  值类型：无限制-->
            		<account></account>   <!-- 配置要求：非必须配置。 配置描述：预置的账号信息。  值类型：无限制-->
            		<password></password>   <!-- 配置要求：非必须配置。 配置描述：预置的密码。  值类型：无限制-->
            		<autologin></autologin>   <!-- 配置要求：非必须配置，配置多个预制账号时，只能有一个为true值。 配置描述：配置是否自动登录，未配置则默认为false  值类型：true 或者 false。 true：表示自动登录， false表示不自动登录-->
            		<mac></mac>   <!-- 配置要求：非必须配置。 配置描述：用于网络请求的mac地址，未配置则默认为本机mac地址  值类型：正确的mac地址类型（xx:xx:xx:xx:xx:xx）-->
            		<groupNum></groupNum>   <!-- 配置要求：非必须配置。 配置描述：配置节目号的显示模式，未配置则默认0。  值类型：0 或者 1。 0：表示使用本地节目号显示，1：表示使用服务器节目号显示-->
            	</data>
            	<data>
                		<serverType></serverType>   <!-- 配置要求：必须配置。 配置描述：配置添加账号的协议类型。 值类型：阿拉伯数字。 配置对照表 【 INFORMIR_STALKER = 0; XSTREAM_CODE_STALKER = 1; XSTREAM_CODE_PANEL = 3; TVCLUB = 4; LOAD_USB_M3U = 5;  YAKA(NeStalker) = 6; LOAD_WEB_M3U = 7;  VISION = 8; 】-->
                		<serverNum></serverNum>    <!-- 配置要求：非必须配置。 配置描述：配置该预置账号显示的位置。  值类型：阿拉伯数字。-->
                		<name>MegaPlay</name>   <!-- 配置要求：非必须配置。 配置描述：预置信息的显示的名称。  值类型：字符类型-->
                		<url></url>   <!-- 配置要求：非必须配置。 配置描述：预置的url。 值类型：无限制-->
                		<port></port>   <!-- 配置要求：非必须配置。 配置描述：预置的port信息。  值类型：无限制-->
                		<account></account>   <!-- 配置要求：非必须配置。 配置描述：预置的账号信息。  值类型：无限制-->
                		<password></password>   <!-- 配置要求：非必须配置。 配置描述：预置的密码。  值类型：无限制-->
                		<autologin></autologin>   <!-- 配置要求：非必须配置，配置多个预制账号时，只能有一个为true值。 配置描述：配置是否自动登录，未配置则默认为false  值类型：true 或者 false。 true：表示自动登录， false表示不自动登录-->
                		<mac></mac>   <!-- 配置要求：非必须配置。 配置描述：用于网络请求的mac地址，未配置则默认为本机mac地址  值类型：正确的mac地址类型（xx:xx:xx:xx:xx:xx）-->
                		<groupNum></groupNum>   <!-- 配置要求：非必须配置。 配置描述：配置节目号的显示模式，未配置则默认0。  值类型：0 或者 1。 0：表示使用本地节目号显示，1：表示使用服务器节目号显示-->
                	</data>
                	<data>
                    		<serverType></serverType>   <!-- 配置要求：必须配置。 配置描述：配置添加账号的协议类型。 值类型：阿拉伯数字。 配置对照表 【 INFORMIR_STALKER = 0; XSTREAM_CODE_STALKER = 1; XSTREAM_CODE_PANEL = 3; TVCLUB = 4; LOAD_USB_M3U = 5;  YAKA(NeStalker) = 6; LOAD_WEB_M3U = 7;  VISION = 8; 】-->
                    		<serverNum></serverNum>    <!-- 配置要求：非必须配置。 配置描述：配置该预置账号显示的位置。  值类型：阿拉伯数字。-->
                    		<name>MegaPlay</name>   <!-- 配置要求：非必须配置。 配置描述：预置信息的显示的名称。  值类型：字符类型-->
                    		<url></url>   <!-- 配置要求：非必须配置。 配置描述：预置的url。 值类型：无限制-->
                    		<port></port>   <!-- 配置要求：非必须配置。 配置描述：预置的port信息。  值类型：无限制-->
                    		<account></account>   <!-- 配置要求：非必须配置。 配置描述：预置的账号信息。  值类型：无限制-->
                    		<password></password>   <!-- 配置要求：非必须配置。 配置描述：预置的密码。  值类型：无限制-->
                    		<autologin></autologin>   <!-- 配置要求：非必须配置，配置多个预制账号时，只能有一个为true值。 配置描述：配置是否自动登录，未配置则默认为false  值类型：true 或者 false。 true：表示自动登录， false表示不自动登录-->
                    		<mac></mac>   <!-- 配置要求：非必须配置。 配置描述：用于网络请求的mac地址，未配置则默认为本机mac地址  值类型：正确的mac地址类型（xx:xx:xx:xx:xx:xx）-->
                    		<groupNum></groupNum>   <!-- 配置要求：非必须配置。 配置描述：配置节目号的显示模式，未配置则默认0。  值类型：0 或者 1。 0：表示使用本地节目号显示，1：表示使用服务器节目号显示-->
                    	</data>


</PresetAccount>

	
	
	

