{"server":[
{"name":"Informir Stalker", "position":4, "db_type":0, "server_name_glo":"","logo_path":""},
{"name":"Xtream-codes Stalker", "position":1, "db_type":1,"server_name_glo":"","logo_path":""},
{"name":"Xtream-codes Panel", "position":2, "db_type":3,"server_name_glo":"","logo_path":"/system/etc/server_logo_crown.png"},
{"name":"Load m3u", "position":3, "db_type":5,"server_name_glo":"","logo_path":""},
{"name":"M3u from web", "position":5, "db_type":7,"server_name_glo":"","logo_path":""},
{"name":"TV Club", "position":6, "db_type":4,"server_name_glo":"","logo_path":""}
]}
